
<h1 align="center">Employee Management System</h1>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="view" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Employee List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add Employee</a>
  
    </li>
</ul>

<router-outlet></router-outlet>
